<!DOCTYPE html>
<html>
<body>
<form action="/admin" method="post">
  <fieldset>
    <legend>Prescription</legend>
  Customer Name:
  <input type="text" name="cname"><br><br>
      Employee ID:
  <input type="number" name="eid"><br><br>
      Prescription id:
  <input type="number" name="pid"><br><br>
  quantity
  <input type="number" name="dname"><br><br>
   Drug Name:
   <textarea name="quantity" style="width:200px; height:300px;"></textarea><br><br>
   Dose
  <input type="number" name="dose"><br><br>
   Price
  <input type="number" name="price"><br><br>
   Date:
  <input type="text" name="date"><br><br>
      <p class="login button">
          <input type="submit" value="Submit" />
      </p>
    
    </fieldset>
</form><br><br>
