<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>
</head>
<body>
<table style="width:100%">
  <caption>STOCK</caption>
  <tr>
    <th>Drug Name</th>
    <th>Quantity</th>
    <th>Cost</th>
    <th>Supplier</th>
    <th></th>
  </tr>
  {% for task in tasks %}
    <tr>
      <td>{{task[0]}}</td>
      <td>{{task[1]}}</td>
      <td>{{task[2]}}</td>
      <td>{{task[3]}}</td>
      <td><button><a href="/delstocka/{{task[2]}}">Delete</a></button><br><button><a href="/upstocka/{{task[2]}}">Update</a></button></td>
    </tr>
  {% endfor %}
</table><br><br>
<button><a href="/addstock">Add Stock</a></button>
<button><a href="/admin">Go Back</a></button>

</body>
</html>