<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#333;
}

li {
  float: left;
}

li a {
  display: block;
  color:white;
  text-align:center;
  padding: 14px 16px;
}
li a:hover {
  background-color: #111;
}
body {
  background-color:white;
  text-align:center;

}
h1{
  color:black;
}
</style>
</head>
<body>

<div id="container_demo" >
	<!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
	<a class="hiddenanchor" id="toregister"></a>
	<a class="hiddenanchor" id="tologin"></a>
	<div id="wrapper">
		<div id="login" class="animate form">
			<h1 style="background-color:rgba(255, 99, 71, 0.4)">UPDATE STOCK</h1>
			<form  action="/upstockm/{{tasks[2]}}" method="post">

				<p>
					<input id="quantity" name="quantity" required="required" type="text" placeholder="quantity"/>
				</p>
				<p class="login button">
					<input type="submit" value="Submit" />
				</p>
			</form>

</div>
</body>
</html>